.header {
    width: 100vw;
    height: 20vh;
    background-color: rgb(233, 124, 124);
}

.welcome {
    display: inline-block
}

.home {
    display: inline-block
}

.about {
    display: inline-block
}

.logout {
    display: inline-block
}